Node-Red function.txt
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"6c6622f5.06be2c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/#","qos":"2","broker":"e649966c.8c2af8","x":170,"y":40,"wires":[["ce9f9f18.4bad2"]]},{"id":"ce9f9f18.4bad2","type":"debug","z":"2c41a2bd.aa36ae","name":"","active":true,"console":"false","complete":"false","x":450,"y":40,"wires":[]},{"id":"275ee1a0.89f64e","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/pause","qos":"","retain":"","broker":"e649966c.8c2af8","x":450,"y":440,"wires":[]},{"id":"cc18ff6c.6642d","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/play","qos":"","retain":"","broker":"e649966c.8c2af8","x":440,"y":400,"wires":[]},{"id":"da723313.f07d8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/stop","qos":"","retain":"","broker":"e649966c.8c2af8","x":440,"y":480,"wires":[]},{"id":"6f8c42b9.de6c9c","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/next","qos":"","retain":"","broker":"e649966c.8c2af8","x":440,"y":520,"wires":[]},{"id":"a15470c.b23739","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/prev","qos":"","retain":"","broker":"e649966c.8c2af8","x":440,"y":560,"wires":[]},{"id":"3fdd0ad4.766756","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/volume-up","qos":"","retain":"","broker":"e649966c.8c2af8","x":460,"y":600,"wires":[]},{"id":"8be73e52.ad709","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/volume-down","qos":"","retain":"","broker":"e649966c.8c2af8","x":470,"y":640,"wires":[]},{"id":"404169a3.9d1528","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/volume-set","qos":"","retain":"","broker":"e649966c.8c2af8","x":460,"y":680,"wires":[]},{"id":"689ce577.b660dc","type":"ui_slider","z":"2c41a2bd.aa36ae","name":"","label":"volume","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"30","step":1,"x":180,"y":680,"wires":[["404169a3.9d1528"]]},{"id":"62ceacb5.cde0f4","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"play","color":"","bgcolor":"","icon":"fa-play","payload":"0","payloadType":"num","topic":"","x":170,"y":400,"wires":[["cc18ff6c.6642d"]]},{"id":"e867b93f.57f9e8","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"pause","color":"","bgcolor":"","icon":"fa-pause","payload":"0","payloadType":"num","topic":"","x":170,"y":440,"wires":[["275ee1a0.89f64e"]]},{"id":"e5e66647.4f7308","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"stop","color":"","bgcolor":"","icon":"fa-stop","payload":"0","payloadType":"num","topic":"","x":170,"y":480,"wires":[["da723313.f07d8"]]},{"id":"b82b4944.971278","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"next","color":"","bgcolor":"","icon":"fa-forward","payload":"0","payloadType":"num","topic":"","x":170,"y":520,"wires":[["6f8c42b9.de6c9c"]]},{"id":"f3aebb38.2cf418","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"prev","color":"","bgcolor":"","icon":"fa-backward","payload":"0","payloadType":"num","topic":"","x":170,"y":560,"wires":[["a15470c.b23739"]]},{"id":"7e41130c.4cde2c","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"volumeUp","color":"","bgcolor":"","icon":"fa-plus","payload":"0","payloadType":"num","topic":"","x":180,"y":600,"wires":[["3fdd0ad4.766756"]]},{"id":"76fab5eb.e8feac","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"volumeDown","color":"","bgcolor":"","icon":"fa-minus","payload":"0","payloadType":"num","topic":"","x":190,"y":640,"wires":[["8be73e52.ad709"]]},{"id":"d9575816.f791c8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/song-index","qos":"","retain":"","broker":"e649966c.8c2af8","x":460,"y":720,"wires":[]},{"id":"4000c1f6.0ea8d","type":"ui_slider","z":"2c41a2bd.aa36ae","name":"","label":"song","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"30","step":1,"x":170,"y":720,"wires":[["d9575816.f791c8"]]},{"id":"b65b86cc.a68b78","type":"ui_slider","z":"2c41a2bd.aa36ae","name":"","label":"folder","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"20","step":1,"x":170,"y":760,"wires":[["e0cf1505.8af6e8"]]},{"id":"e0cf1505.8af6e8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/folder","qos":"","retain":"","broker":"e649966c.8c2af8","x":450,"y":760,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}] 