Node-Red function.txt
[{"id":"18a7a8e0.71a087","type":"mqtt in","z":"e8ad3372.65f62","name":"","topic":"node/code-terminal:0/code","qos":"2","broker":"e649966c.8c2af8","x":230,"y":180,"wires":[["2dee2c7e.58c3d4"]]},{"id":"2dee2c7e.58c3d4","type":"function","z":"e8ad3372.65f62","name":"code check","func":"if(msg.payload == \"\\\"1234\\\"\")\n{\n    msg.payload = {\"duration\":500, \"direction\":true};\n}\nelse\n{\n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["69df3a34.c3ee54","3c28bdf7.e36472"]]},{"id":"69df3a34.c3ee54","type":"mqtt out","z":"e8ad3372.65f62","name":"","topic":"node/generic-node:0/relay/0:0/pulse/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":810,"y":180,"wires":[]},{"id":"98e10fa8.e6bcc","type":"blynk-ws-in-write","z":"e8ad3372.65f62","name":"","pin":"1","pin_all":0,"client":"3a4d028b.8c49ae","x":510,"y":220,"wires":[["89d77f6d.73021"]]},{"id":"3c28bdf7.e36472","type":"blynk-ws-out-notify","z":"e8ad3372.65f62","name":"","client":"3a4d028b.8c49ae","queue":false,"rate":5,"x":710,"y":120,"wires":[]},{"id":"89d77f6d.73021","type":"function","z":"e8ad3372.65f62","name":"Int parser","func":"if(msg.payload == 1)\n{\n    msg.payload = true\n}\nelse\n{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["149ef1ad.1e3a5e"]]},{"id":"149ef1ad.1e3a5e","type":"mqtt out","z":"e8ad3372.65f62","name":"","topic":"node/generic-node:0/relay/0:0/state/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":890,"y":260,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a4d028b.8c49ae","type":"blynk-ws-client","z":"","name":"Key code","path":"ws://127.0.0.1:8080/websockets","key":"e286c28e82a949d3a7db928bd7abad56","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""}]
